<div id="infoModal" class="modal">

    <div class="modal-content">

        <button id="closeModal" class="close-modal">
            ✕ Fermer
        </button>

        <section class="event-info">

            <h2>Bizingue 2026</h2>

            <div class="event-details">

                <!-- LEFT COLUMN -->
                <div class="event-col">

                    <div class="info-row">
                        <div class="info-row-icon">
                            <span class="fa fa-calendar"></span>
                        </div>
                        <p>Date : 21 → 22 août 2026</p>
                    </div>

                    <div class="info-row">
                        <div class="info-row-icon">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <p>Lieu : Pas loin d'Échallens</p>
                    </div>

                </div>

                <!-- RIGHT COLUMN -->
                <div class="event-col">

                    <div class="info-row">
                        <div class="info-row-icon">
                            <span class="fa fa-clock-o"></span>
                        </div>
                        <p>Début : Vendredi 18:00</p>
                    </div>

                    <div class="info-row">
                        <div class="info-row-icon">
                            <span class="fa fa-clock-o"></span>
                        </div>
                        <p>Fin : Dimanche 06:00</p>
                    </div>

                </div>

            </div>

            <p>

            </p>

            <div class="old-banner">
                Tu as reçu ce lien car on te veut à notre fête et on te fait confiance.
            </div>

            <hr>


            <h3>On t'explique</h3>

            <p>
                De la <strong>Techno</strong>,
                de la <strong>Drum &amp; Bass</strong>
                et de la <strong>Trance</strong>
                non-stop du vendredi au dimanche à l'aube.
            </p>

            <p>
                <strong>Le billet comprend toutes les boissons.</strong>
            </p>

            <p>
                Rendez-vous dans la nature,
                loin de la civilisation,
                pour chiller,
                rire
                et danser.
            </p>

            <p>
                Le site est accessible en voiture et en transports publics.
            </p>

            <p>
                Tu pourras dormir sur place
                sous ta tente ou dans ta voiture
                afin de profiter pleinement du week-end.
            </p>

            <p>
                Invite uniquement des personnes de confiance.
                Elles pourront prendre leur billet
                en indiquant que tu les as invitées.
            </p>

            <hr>

            <h3>🍴 Repas</h3>

            <!--             <div class="meal-grid">

                <div class="meal-card">
                    <div class="meal-title">
                        🌙 Vendredi soir
                    </div>

                    <ul>
                        <li>
                            Sandwich au cou de porc fumé &amp; Gruyère
                            <span class="meal-tag">🌶️ Pimenté</span>
                        </li>
                        <li>Sandwich céleri-rave &amp; Gruyère</li>
                    </ul>
                </div>

                <div class="meal-card">
                    <div class="meal-title">
                        ☀️ Samedi midi
                    </div>

                    <ul>
                        <li>Spaghetti bolognaise</li>
                        <li>Spaghetti pesto rouge &amp; miso</li>
                    </ul>
                </div>

                <div class="meal-card coming-soon">
                    <div class="meal-title">
                        🌙 Samedi soir
                    </div>

                    <div class="meal-placeholder">
                        Menu bientôt dévoilé…
                    </div>
                </div>

            </div> -->

            <div class="meal-grid">

                <div class="meal-card">
                    <div class="meal-title">
                        🌙 Vendredi soir
                    </div>

                    <ul class="meal-list">

                        <li>
                            <span class="meal-icon">🍗</span>
                            <span>
                                Sandwich au cou de porc fumé &amp; Gruyère
                                <span class="meal-tag">🌶️ Pimenté</span>
                            </span>
                        </li>

                        <li>
                            <span class="meal-icon">🌱</span>
                            <span>
                                Sandwich céleri-rave &amp; Gruyère
                            </span>
                        </li>

                    </ul>
                </div>

                <div class="meal-card">
                    <div class="meal-title">
                        ☀️ Samedi midi
                    </div>

                    <ul class="meal-list">

                        <li>
                            <span class="meal-icon">🍗</span>
                            <span>Spaghetti bolognaise</span>
                        </li>

                        <li>
                            <span class="meal-icon">🌱</span>
                            <span>Spaghetti pesto rouge &amp; miso</span>
                        </li>

                    </ul>
                </div>

                <div class="meal-card">

                    <div class="meal-title">
                        🌙 Samedi soir
                    </div>

                    <ul class="meal-list">

                        <li>
                            <span class="meal-icon">🍗</span>
                            <span>Couscous avec merguez accompagné d'un sauté d'épinards à la tomate cerises 🍒</span>
                        </li>

                        <li>
                            <span class="meal-icon">🌱</span>
                            <span>Couscous avec tofu accompagné d'un sauté d'épinards à la tomate cerises 🍒</span>
                        </li>

                    </ul>
                </div>

            </div>

            <p>
                Lors de ta commande tu pourras réserver
                les repas du vendredi soir,
                samedi midi
                et samedi soir.
            </p>

            <p>🌱 Une option végétarienne est disponible.</p>

            <p>
                ⚠️ Les repas ne sont pas compris
                dans le prix du billet.
            </p>

            <p>
                Pour toute allergie ou restriction alimentaire :
                <a href="mailto:info@bizingue.ch">
                    info@bizingue.ch
                </a>
            </p>

            <hr>

            <h3>⚠️ Important</h3>

            <p>
                Pour que cette fête reste un moment agréable pour tous·tes,
                n'invite que des personnes respectueuses.
            </p>

            <p>
                Tous les détails pratiques
                seront communiqués ultérieurement.
            </p>

            <p class="warning">
                ⚠️ Merci de ne pas diffuser les informations
                sur les réseaux sociaux. ⚠️
            </p>

            <div style="margin-top:40px;text-align:center;">

                <a href="billetterie.html" class="billetterie pill" target="_blank">

                    <span class="dot"></span>
                    <span>Billetterie</span>

                </a>

            </div>

        </section>

    </div>

</div>